.bg-gradient{
    background: radial-gradient(farthest-side at bottom right, #343434, #bba0ff52), radial-gradient(farthest-corner at bottom left, #5d24f1, #343434 400px);
}

h1, h2, h3, h4, h5 {
    font-family: "Quicksand", serif;
}

#root{
    max-height: 100vh;
    overflow: hidden;}

.Logo-Title {
    font-family: "Quicksand", serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}

p {
    font-family: "Inter", sans-serif;
}

.icon-nav {
    background-color: #232323;
    padding: 10px;
    border-radius: 40%;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.icon-nav:hover {
    background: linear-gradient(90deg, rgba(46, 234, 168, 0.474) 0%, rgba(2, 138, 242, 0.523) 100%);
    cursor: pointer;
    transform: scale(1.1); /* Agregar un efecto de zoom */
}

.icon-nav:active {
    background: linear-gradient(90deg, rgba(2, 138, 242, 0.523) 0%, rgba(46, 234, 168, 0.474) 100%);
    transform: scale(1); /* Reducir el zoom al tamaño original */
}

input{
    font-family: "Inter", sans-serif;
    background: #232323;
    padding: 10px 15px;
    border-radius: 15px;
}

.footer-text{
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.icon-footer{
    padding: 5px;
}

.Title-home, span{
    font-family: "Quicksand", serif;
    font-size: 25px;
    font-weight: 700;
    color: white;
}

p{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: white;
}

/* Estilo para la barra de desplazamiento */
.custom-scroll::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra */
    background-color: #2a2a2a; /* Color de fondo del track */
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #4a4a4a; /* Color de la barra */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #6a6a6a; /* Color al pasar el mouse */
  }

.background-img{
    background-image: linear-gradient(90deg, rgba(46, 234, 168, 0.474) 0%, rgba(2, 138, 242, 0.523) 100%), url(/src/assets/img/login.jpg);
    background-size: cover;
    background-position: bottom;
}

.background-gradient{
    background: linear-gradient(30deg, rgba(2, 138, 242, 0.523) 0%, rgba(46, 234, 168, 0.474) 100%);
}

.img-user{
    padding: 1rem;
    border-radius: 3rem;
}